@import "./variables/color";
@import "./variables/sizing";
@import "./variables/textures";

.v-tools {
  position: fixed;
  top: $header-height;
  left: 0;
  background-color: $sub-bar-color;
  border-bottom: 2px solid $sub-bar-border;
  height: $tools-height;
  width: 100%;
  z-index: 1010;

  .util-button {
    height: 100%;
    padding: 0 10px;
    border-right: 2px solid $sub-bar-border;
  }
}

.v-options {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $sub-bar-color;
  border-right: 2px solid $sub-bar-border;
  height: 100%;
  width: $options-width;
  z-index: 1000;

  .util-button {
    width: 100%;
    padding: 10px 0;
    border-top: 2px solid $sub-bar-border;
    border-bottom: 2px solid $sub-bar-border;
  }
}

.util-button {
  border: none;

  &:hover {
    background-color: gray;
    color: white;
  }
}

.selected {
  background-color: $secondary-color;
  color: white;
}

.floating-tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: $options-width + $header-height;
  left: $options-width;
  margin: 10px;
  padding: 10px;
  background: $sub-bar-color;
  border: none;
  z-index: 1000;

  .floating-tool-title {
    color: $secondary-color;
  }

  input[type="text"] {
    border: none;
    display: block;
    padding: 5px;
    margin: 5px;
  }

  .floating-tool-button {
    background-color: white;
    border: none;
    display: block;
    margin-top: 5px;
    padding: 5px 10px;

    &:hover {
      background-color: $secondary-color;
      color: white;
    }
  }

  .floating-tool-x-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;

    img {
      padding: 3px;
      width: 100%;
      height: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.v-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  @include dot-matrix();
}

.node {
  position: absolute;
  text-align: center;
  background-color: white;
  border: 2px solid $sub-bar-border;
  padding: 20px 30px;
  width: 120px;
  height: 100px;
  top: 50%;
  left: 50%;

  .node-data {
  }

  .node-type {
    color: $primary-color;
    letter-spacing: 5px;
  }

  .socket-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .socket {
      background-color: white;
      position: absolute;
      width: $socket-width;
      height: $socket-width;

      border: 2px solid $primary-color;
    }

    .input {
    }

    .output {
      border-radius: 50%;
    }

    /* Positions */
    .socket-right {
      top: 50%;
      right: -$socket-width / 2;
      transform: translateY(-50%);
    }

    .socket-left {
      top: 50%;
      left: -$socket-width / 2;
      transform: translateY(-50%);
    }

    .socket-top {
      top: -$socket-width / 2;
      left: 50%;
      transform: translateX(-50%);
    }

    .socket-bottom {
      bottom: -$socket-width / 2;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
