.v-tools {
  position: fixed;
  top: 50px;
  left: 0;
  background-color: #ebedee;
  border-bottom: 2px solid #bebebe;
  height: 50px;
  width: 100%;
  z-index: 1010;
}

.v-tools .util-button {
  height: 100%;
  padding: 0 10px;
  border-right: 2px solid #bebebe;
}

.v-options {
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ebedee;
  border-right: 2px solid #bebebe;
  height: 100%;
  width: 50px;
  z-index: 1000;
}

.v-options .util-button {
  width: 100%;
  padding: 10px 0;
  border-top: 2px solid #bebebe;
  border-bottom: 2px solid #bebebe;
}

.util-button {
  border: none;
}

.util-button:hover {
  background-color: gray;
  color: white;
}

.selected {
  background-color: #4caf50;
  color: white;
}

.floating-tool {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 100px;
  left: 50px;
  margin: 10px;
  padding: 10px;
  background: #ebedee;
  border: none;
  z-index: 1000;
}

.floating-tool .floating-tool-title {
  color: #4caf50;
}

.floating-tool input[type="text"] {
  border: none;
  display: block;
  padding: 5px;
  margin: 5px;
}

.floating-tool .floating-tool-button {
  background-color: white;
  border: none;
  display: block;
  margin-top: 5px;
  padding: 5px 10px;
}

.floating-tool .floating-tool-button:hover {
  background-color: #4caf50;
  color: white;
}

.floating-tool .floating-tool-x-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: red;
  position: absolute;
  top: -5px;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.floating-tool .floating-tool-x-button img {
  padding: 3px;
  width: 100%;
  height: 100%;
}

.floating-tool .floating-tool-x-button:hover {
  cursor: pointer;
}

.v-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, white 21px, transparent 1%) center, linear-gradient(white 21px, transparent 1%) center, black;
  background-size: 22px 22px;
}

.node {
  position: absolute;
  text-align: center;
  background-color: white;
  border: 2px solid #bebebe;
  padding: 20px 30px;
  width: 120px;
  height: 100px;
  top: 50%;
  left: 50%;
}

.node .node-type {
  color: #ff9f20;
  letter-spacing: 5px;
}

.node .socket-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Positions */
}

.node .socket-holder .socket {
  background-color: white;
  position: absolute;
  width: 12px;
  height: 12px;
  border: 2px solid #ff9f20;
}

.node .socket-holder .output {
  border-radius: 50%;
}

.node .socket-holder .socket-right {
  top: 50%;
  right: -6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.node .socket-holder .socket-left {
  top: 50%;
  left: -6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.node .socket-holder .socket-top {
  top: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.node .socket-holder .socket-bottom {
  bottom: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=data-structure.css.map */